<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <p class="header">Biblioteka</p>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav  #sidenav="matSidenav">
        <img class="avatar mat-elevation-z8" [src]="picture" (click)="showProfile()">
        <h4 class="name">{{fullname}}</h4>
        <p class="designation">{{email}}</p>
        <mat-divider></mat-divider>


        <button mat-button class="menu-button" (click)="dodjiKuci();showBook=true;updateBook=false;addBook=false">
            <mat-icon>home</mat-icon>
            <span>Home page</span>
           </button>
       <button mat-button class="menu-button" (click)="menjajPass()">
        <mat-icon>password</mat-icon>
        <span>Password</span>
       </button>
       <button mat-button class="menu-button" (click)="showSearch()">
        <mat-icon>search</mat-icon>
        <span>Search</span>
       </button>
       <button mat-button class="menu-button" (click)="addB()">
        <mat-icon>library_add</mat-icon>
        <span>Add book</span>
       </button>
       <button mat-button class="menu-button" (click)="showUpdate()">
        <mat-icon>update</mat-icon>
        <span>Update book</span>
       </button>
       <button mat-button class="menu-button" (click)="showBookRequests()">
        <mat-icon>library_books</mat-icon>
        <span>Show book requests</span>
       </button>
       <button mat-button class="menu-button" (click)="showZaduzene()">
        <mat-icon>library_books</mat-icon>
        <span>Books taken</span>
       </button>
       <button mat-button class="menu-button" (click)="showHistory()">
        <mat-icon>history</mat-icon>
        <span>History</span>
       </button>
       <button mat-button class="menu-button" (click)="odjava()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
       </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <div *ngIf="showProf">
                <app-user-profile></app-user-profile>
            </div>


            <div *ngIf="showBook">
                <h3>Knjiga dana</h3><hr>
            <img id="bookPict" [src]="bookD.picture"><hr>
            <div style="font-size: 1rem;">
            <label>Naziv knjige:</label>{{bookD.name}}<br>
            <label>Autori knjige:</label>{{writerD}}<br>
            <label>Ocena:</label>{{ocena}}<br></div>
            
            <div *ngIf="obavestenja">
                <hr><label style="font-size: 1rem;">{{dodat}}</label><br>
                <label style="font-size: 1rem;color: red;">{{istekao}}</label><br>
                <label style="font-size: 1rem;color:purple">{{dvaDana}}</label><br>
                <label style="font-size: 1rem;color:green">{{triKnjige}}</label><br>
                <label *ngIf="blokiran">Vas korisnicki nalog je blokiran</label><br>
            </div>
            </div>
            <div *ngIf="menjaj"><app-change-pass></app-change-pass></div>
            
            <div *ngIf="search">
                <h2 style="text-align: center;">Pretraga</h2>
    
                <div style="display: flex; align-items:center;justify-content: center; ">
                  <span style="font-size: 1rem;"> Trazi na osnovu naziva knjige:</span> 
                  <input type="text" name="search" style="margin: 2%;" [(ngModel)]="nameS">
                  
                </div>
                
                
                <span style="font-size: 1rem;">Trazi na osnovu autora:</span> 
                <input type="text" style="margin: 0 2%;" name="search" [(ngModel)]="writerS">
                <br>
                <br>
                <button class="buttn" style="margin: 0;" (click)="searchByParam()">Trazi knjigu</button>
    
                <div *ngIf="showSearchBook" >
                  <h3 style="margin: 5% 0; text-align: center;">Knjige</h3><hr>
                  <div *ngFor="let b of bookSN" style="display: flex; flex-direction: column;justify-content: center; align-items: center; padding: 5% 0; border-bottom: solid black 1px;">
                    <img id="bookPict" [src]="b.picture" (click)="skociNaKnjigu(b)"><hr>
                    <div style="font-size: 1rem;">
                    <label>Naziv knjige:</label>{{b.name}}<br>
                    <label>Autori knjige:</label>{{b.writer}}<br>
                    <label>Zanr:</label>{{b.style}}<br>
                    <label>Izdavac:</label>{{b.publisher}}<br>
                    <label>Godina izdanja:</label>{{b.year}}<br>
                    <label>Jezik:</label>{{b.language}}<br>
                  </div>    
                  </div>  
                    
                </div>
    
            </div>
            
            
            <div *ngIf="bookPageShow"><app-book-page></app-book-page></div>



            <div *ngIf="addBook" style="display: flex; flex-direction: column; align-items: flex-start;">
                
            <hr>
                <p style="color: navy">Ovde je dodavanje knjige</p>
                <div> <label style="margin: 15px">Naziv knjige</label><input type="text" name="name" [(ngModel)]="nameM"><br></div>
                <div><label style="margin: 15px">Unesi prezime i ime writera</label><input type="text" name="writer" [(ngModel)]="writerM"><br></div>
                <!-- <button (click)="unesiW()">Ubaci writera</button><br> -->
                <div><label style="margin: 15px">Unesi zanr</label>
                    <select [(ngModel)]="zanr">
                        <option value="Roman">Roman</option>
                        <option value="Triler">Triler</option>
                        <option value="Misterija">Misterija</option>
                        <option value="Fantastika">Fantastika</option>
                        <option value="Komedija">Komedija</option>
                        <option value="Bajka">Bajka</option>
                        <option value="Putopis">Putopis</option>
                    </select><br><button (click)="dodajZanr()">Dodaj zanr</button><br>
                    <input type="text" name="style" [(ngModel)]="styleM"><br>
                </div><!-- <button (click)="unesiS()">Ubaci writera</button><br> -->
                <div><label style="margin: 15px">Izdavac</label><input type="text" name="publisher" [(ngModel)]="publisherM"><br></div>
                <div><label style="margin: 15px">Godina</label><input type="number" name="year" [(ngModel)]="yearM"><br></div>
                <div><label style="margin: 15px">Jezik</label><input type="text" name="language" [(ngModel)]="languageM"><br></div>
                <div><label style="margin: 15px">Broj dostupnih knjiga</label><input type="number" name="number" [(ngModel)]="numberM"><br></div>
                <input #slikaUpload  style="margin: 15px" type="file" (change)="slikaDodata($event)" accept="image/jpg, image/png, image/jpeg">
                {{slikaPoruka}}
                <img *ngIf="slikaSacuvana" id="profile" [src]="putdoslike()" alt="Red dot" />
                <button class="buttn" (click)="book()">Dodaj knjigu</button>

            </div>


            <div *ngIf="updateBook" class="table-resp">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Book name</th>
                        <th>Writers</th>
                        <th>Styles</th>
                        <th>Publisher</th>
                        <th>Year</th>
                        <th>Language</th>
                        <th>Picture</th>
                        <th>Available</th>
                        <th>Update</th>
                        <!-- <th>Delete</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of books">
                        <td>{{b.name}}</td>
                        <td>{{b.writer}}</td>
                        <td>{{b.style}}</td>
                        <td>{{b.publisher}}</td>
                        <td>{{b.year}}</td>
                        <td>{{b.language}}</td>
                        <td><img id="profile" [src]="b.picture"></td>
                        
                        <td>{{b.number}}</td>
                        <td><button class="buttn" (click)="promena(b);showBook=false">Update</button></td>
                        <!-- <td><button (click)="deleteUser(u)">Remove</button></td> -->
                    </tr>
                </tbody>
                </table>
    
    
    
                <div *ngIf="bo">
                    <label style="margin: 5%;">Book name</label><input type="text" name="name" [(ngModel)]="nameM" ><br>
                    <label style="margin: 5%;">Writers</label><input type="text" name="writer" [(ngModel)]="writerM" ><br>
                    <label style="margin: 5%;">Styles</label><input type="text" name="style" [(ngModel)]="styleM"><br>
                    <label style="margin: 5%;">Publisher</label><input type="text" name="publisher" [(ngModel)]="publisherM" ><br>
                    <label style="margin: 5%;">Year</label><input type="number" name="year" [(ngModel)]="yearM" ><br>
                    <label style="margin: 5%;">Language</label><input type="text" name="language" [(ngModel)]="languageM" ><br>
                    <label style="margin: 5%;">Available</label><input type="number" name="number" [(ngModel)]="numberM" ><br>
                    <br>
                    <label style="margin: 5%;">Picture</label><img id="profile" [src]="bookPictureM">  
                    <br>
                    <br>
                    <input #slikaUpload type="file" (change)="slikaDodata($event)" accept="image/jpg, image/png, image/jpeg">
                    <br>
                    <br>
                    {{slikaPoruka}} Nova profilna ->
                    <img *ngIf="slikaSacuvana" id="profile" [src]="putdoslike()" alt="Red dot" /><br>
                    
                    <!-- <input type="text" name="type" [(ngModel)]="type"><br> -->
                    
                </div>
                <button class="buttn" (click)="update()">Update all data</button>
            </div>
            
            <div *ngIf="zaduzene">
            
               
                <div fxLayout='row' fxLayoutWrap class="cards" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 5%;">
    
          
                <mat-card class="example-card" *ngFor="let m of joinBooks">
                    <mat-card-header>
                    <mat-card-title>{{m.name}}</mat-card-title>
                    <mat-card-subtitle>{{m.writer}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-md-image id="picCard" [src]="m.picture" alt="Photo of a {m.name}">
                    <mat-card-content>
                    
                    <p [hidden]="zakasnio(m.jos)"> 
                        Preostalo dana:{{m.jos}}
                    </p>
                    <p [ngClass]="{'colorError': zakasnio(m.jos)}" *ngIf="zakasnio(m.jos)">Kasni>{{m.jos}} dana</p>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-button (click)="vrati(m._id)">Vrati</button>
                    <button mat-button (click)="produzi(m._id,m.jos, m.extended)">Produzi</button>
                    </mat-card-actions>
                </mat-card>
                
                </div>
               
            
            </div>



            <div *ngIf="history" style="overflow-x: scroll;">
           
            
           
            
                <table class="tab-his" style="font-size:1rem;">
                    <tr>
                        <th style="padding: 10px; margin: 0"> <button class="buttn"  (click)="sortName()">Sortiraj po nazivu</button></th>
                        <th style="padding: 10px; margin: 0"><button class="buttn"  (click)="sortWrite()">Sortiraj po autoru</button></th>
                        <th  style="padding: 10px; margin: 0"> <button class="buttn" (click)="sortStart()">Sortiraj po datumu zaduzivanja</button></th>
                        <th style="padding: 10px; margin: 0"><button class="buttn"  (click)="showHistory()">Sortiraj po datumu vracanja</button></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Naziv knjige</th>
                        <th>Autori knjige:</th>
                        <th>Datum zaduzivanja</th>
                        <th>Datum vracanja</th>
                        <th>Akcija</th>
                    </tr>
                    <br>
                    <tr *ngFor="let j of joinBooks" >
                        <td>{{j.name}}</td>
                        <td>{{j.writer}}</td>
                        <td>{{j.startDate}}</td>
                        <td>{{j.endDate}}</td>
                        <td><button (click)="vodi(j._id)">Poseti stranicu</button></td>
                    </tr>
                </table>
            </div>
            <label *ngIf="nemaReq">Nema trenutnih zahteva za knjige</label>
            <div *ngIf="showBookRequest"  class="table-resp">
                <table class="tableUser">
                    <tr>
                        <th>Username</th>
                        <th>Naziv knjige</th>
                        <th>Autor</th>
                        <th>Zanr</th>
                        <th>Add book</th>
                        <th>Remove</th>
                    </tr>
                    <tr *ngFor="let b of booksW">
                        <td>{{b.username}}</td>
                        <td>{{b.name}}</td>
                        <td>{{b.writer}}</td>
                        <td>{{b.style}}</td>
                        <td><button class="buttn" (click)="addBookReq(b)">Add</button></td>
                        <td><button class="buttn" (click)="deleteBookReq(b)">Remove</button></td>
                    </tr>
                </table>
            </div>


        </div>
    </mat-sidenav-content>
</mat-sidenav-container>