
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    Biblioteka

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <button mat-button class="menu-button" (click)="saljiKuci()">
            <mat-icon>home</mat-icon>
            <span>Home</span>
           </button>
       <button mat-button class="menu-button" (click)="saljiLogin()">
        <mat-icon>person</mat-icon>
        <span>Login</span>
       </button>
       <button mat-button class="menu-button" (click)="saljiRegister()">
        <mat-icon>assignment_ind</mat-icon>
        <span>Register</span>
       </button>
       <button mat-button class="menu-button" (click)="saljiSearch()">
        <mat-icon>search</mat-icon>
        <span>Search</span>
       </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4" style="padding: 5%; min-width: 400px;" >
            
                <h1 style="color: navy;">LOGIN</h1>
                
            
            <h2>Dobrodosli u Biblioteku</h2>
            
            <h3>Prijavite se u sistem</h3>
            <form name="log">
            <table  class="formica">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" [(ngModel)]="username">
                        </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type="password" name="password" [(ngModel)]="password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="buttn" style="font-size: 0.5em; padding: 2% 7%;" (click)="login()" >Login</button>
                    </td>
                </tr>
            </table>
            <div style="color: red;">{{errorMessage}}</div>
            <br>
            
            </form>
            
            <a routerLink="/register" style="font-size: 0.8em;">Sign up for a new account</a>
            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>