

<div *ngIf="bo">
    <label style="margin: 5%; font-size: 1.2rem">Firstname</label><input type="text" name="firstname" [(ngModel)]="firstname" ><br>
    <label style="margin: 5%; font-size: 1.2rem">Lastname</label><input type="text" name="lastname" [(ngModel)]="lastname" ><br>
    <label style="margin: 5%; font-size: 1.2rem">Username</label><input type="text" name="username" [(ngModel)]="username" disabled="true"><br>
    <label style="margin: 5%; font-size: 1.2rem">Address</label><input type="text" name="address" [(ngModel)]="address" ><br>
    <label style="margin: 5%; font-size: 1.2rem">Phone_number</label><input type="text" name="phone_number" [(ngModel)]="phone_number" ><br>
    <label style="margin: 5%; font-size: 1.2rem">Email</label><input type="text" name="email" [(ngModel)]="email" ><br>
    <label style="margin: 5%; font-size: 1.2rem">Picture</label><img id="profile" [src]="picture"> <br>
    <br>
    <input #slikaUpload type="file" (change)="slikaDodata($event)" accept="image/jpg, image/png, image/jpeg">
    <br>
    <br>
    {{slikaPoruka}} Nova profilna ->
    <img *ngIf="slikaSacuvana" id="profile" [src]="putdoslike()" alt="Red dot" /><br>
    
    <!-- <input type="text" name="type" [(ngModel)]="type"><br> -->
    
</div>

<div *ngIf="!bo">
    <label style="margin: 5%; font-size: 1.2rem">Firstname</label><input type="text" name="firstname" [(ngModel)]="firstname" disabled="true"><br>
    <label style="margin: 5%; font-size: 1.2rem">Lastname</label><input type="text" name="lastname" [(ngModel)]="lastname" disabled="true"><br>
    <label style="margin: 5%; font-size: 1.2rem">Username</label><input type="text" name="username" [(ngModel)]="username" disabled="true"><br>
    <label style="margin: 5%; font-size: 1.2rem">Address</label><input type="text" name="address" [(ngModel)]="address" disabled="true"><br>
    <label style="margin: 5%; font-size: 1.2rem">Phone_number</label><input type="text" name="phone_number" [(ngModel)]="phone_number" disabled="true"><br>
    <label style="margin: 5%; font-size: 1.2rem">Email</label><input type="text" name="email" [(ngModel)]="email" disabled="true"><br>
    <label style="margin: 5%; font-size: 1.2rem">Picture</label><img id="profile" [src]="picture"><br>
    
    
    
</div>
<button class="buttn" (click)="promena()" *ngIf="!bo">Azuriraj podatke</button>
<button class="buttn" *ngIf="bo" (click)="update()">Update all data</button>