mat-toolbar{
  background-color: navy;
  color:white;
}

mat-sidenav{
  margin:16px;
  width:200px;
  border-right: none;
  background-color: navy;
  color:white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.content{
  
  height: auto;
  margin:16px;
  margin-left:32px;
  /* display: flex; */
  justify-content:flex-start;
  text-align: center;
  

  font-size: 1rem;
  color:black;

  border-radius: 10px;
  
}
.header{
  font-size: 2rem;
  padding-top: 2rem;
}

.formica{
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  padding-top: 1% ;
  
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.buttn {
  background-color: navy;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 15px 0;
}

.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  
}
mat-icon {
  margin-right:8px;
}


mat-sidenav-container{
  height: calc(100vh - 65px);
}

#profile{
  margin: 2%;
  width: 20%;
  padding-left: 20px;
}
