<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <p class="header">Biblioteka</p>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav  #sidenav="matSidenav">
        <img class="avatar mat-elevation-z8" [src]="picture" (click)="showProfile()">
        <h4 class="name">{{fullname}}</h4>
        <p class="designation">{{email}}</p>
        <mat-divider></mat-divider>


        <button mat-button class="menu-button" (click)="dodjiKuci()">
            <mat-icon>home</mat-icon>
            <span>Home page</span>
           </button>
       <button mat-button class="menu-button" (click)="menjajPass()">
        <mat-icon>password</mat-icon>
        <span>Change password</span>
       </button>
       <button mat-button class="menu-button" router-link="register">
        <mat-icon>search</mat-icon>
        <span>Search</span>
       </button>
       <button mat-button class="menu-button">
        <mat-icon>library_add</mat-icon>
        <span>Apply book</span>
       </button>
       <button mat-button class="menu-button">
        <mat-icon>library_books</mat-icon>
        <span>Books taken</span>
       </button>
       <button mat-button class="menu-button">
        <mat-icon>history</mat-icon>
        <span>History</span>
       </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            Main content
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>