<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    Biblioteka

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        
    <button mat-button class="menu-button" (click)="saljiKuci();search=false">
        <mat-icon>home</mat-icon>
        <span>Home</span>
       </button>
   <button mat-button class="menu-button" (click)="saljiLogin();search=false">
    <mat-icon>person</mat-icon>
    <span>Login</span>
   </button>
   <button mat-button class="menu-button" (click)="saljiRegister();search=false;">
    <mat-icon>assignment_ind</mat-icon>
    <span>Register</span>
   </button>
   <button mat-button class="menu-button" (click)="saljiSearch()">
    <mat-icon>search</mat-icon>
    <span>Search</span>
   </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4" style="display: flex;">
            <div *ngIf="basic" style="text-align: center;"><h2><i>Dobrodosli</i></h2><br>
              
                <!-- <ng-image-slider [images]="imgCollection" ></ng-image-slider><ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="sl1" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="sl2" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="sl3" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->
            <img [src]="sl[brT]" id="bookPict" style="border: solid 3px navy; padding: 0;">
            <br/>
           
                <button class="buttn" (click)="nazad()">Nazad</button>
                <button class="buttn" (click)="napred()">Napred</button>
            </div>




            <div *ngIf="search">
                <h2 style="text-align: center;">Pretraga</h2>

                <div style="display: flex; align-items:center;">
                  <span> Trazi na osnovu naziva knjige:</span> 
                  <input type="text" name="search" style="margin: 5%;" [(ngModel)]="nameS">
                  
                </div>
                
                
                Trazi na osnovu autora:
                <input type="text" style="margin: 0 5%;" name="search" [(ngModel)]="writerS">
                <br>
                <br>
                <button class="buttn"  style="margin: 0" (click)="searchByParam()">Trazi knjigu</button>
    
                <div *ngIf="showSearchBook" >
                  <h3 style="margin: 5% 0; text-align: center;">Knjige</h3><hr>
                  <div *ngFor="let b of bookSN" style="display: flex; flex-direction: column;justify-content: center; align-items: center; padding: 5% 0; border-bottom: solid black 1px;">
                    <img id="bookPict" [src]="b.picture"><hr>
                    <div style="font-size: 1rem;">
                    <label>Naziv knjige:</label>{{b.name}}<br>
                    <label>Autori knjige:</label>{{b.writer}}<br>
                    <label>Zanr:</label>{{b.style}}<br>
                    <label>Izdavac:</label>{{b.publisher}}<br>
                    <label>Godina izdanja:</label>{{b.year}}<br>
                    <label>Jezik:</label>{{b.language}}<br>
                  </div>    
                  </div>  
                    
                </div>
    
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>